.container-main {
	text-align: center;

}

#contacts-table {
	margin: auto;
	margin-top: 50px;
	align-content: space-around;
	
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
}
